@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
}
.main header{
    position: relative;
    background: rgb(192, 87, 39);
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: 700;
    width: 100%;
    
}
.main .registration-form{
    margin: 4%;
    text-transform: capitalize;
}
.main .registration-form .col{
    margin: 2%;
}
.main .registration-form .col .heading{
    background: rgba(192, 87, 39, 0.877);
    padding: 10px;
    color: white;
}
.main .registration-form .col .details{
    font-size: 20px;
    background: rgba(192, 87, 39, 0.541);
    padding: 20px;
    font-weight: 600;
}
.main .registration-form .col .details tbody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main .registration-form .col .details tbody tr td:nth-child(1){
    width: 200px;
}
.main .registration-form .col .details tbody tr td:nth-child(2) input{
    width:300px;
    height: 27px;
    padding: 5px;
    margin: 4px;
    border-radius: 4px;
    border:none;
    font-size: 18px;
    color: teal;
}
.main .registration-form .col .details tbody tr td:nth-child(2) select{
    width:310px;
    height: 35px;
    padding: 5px;
    margin: 4px;
    border-radius: 4px;
    border:none;
    font-size: 18px;
    color: teal;
}
#company-city{
    width: 700px;
}
.button{
    width: 100%;
    text-align: center;
    margin:2%;
    padding: 20px;
    /* width: 200px; */

}
input[type=submit]{
    padding: 10px;
    width: 200px;
    /* height: 30px; */
    border-radius: 20px;
    border: 1px solid teal;
    font-size: 18px;
    text-transform: capitalize;
    color: teal;
}
@media(max-width:1000px){
    .main .registration-form .col .details tbody tr{
        display: flex;
        flex-direction: column;
        margin-left: 1%;
    }
    #company-city{
        width:300px;
    }
}